@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
.button {
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  /*font-weight: bold;*/
  /*margin-bottom: 50px;*/
}
.button:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 5px 1px rgb(211, 209, 209);
}

.button_restau {
  text-align: center;
  margin-top: 60px;
}

.button_resto {
  padding: 15px 50px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  box-shadow: 0px 3px 3px 0px rgb(211, 209, 209);
  padding: 10px;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: "Shrikhand", cursif;
  font-weight: 100;
  margin: 0;
  margin-bottom: 4px;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  padding: 20px 0 20px 0;
  background-color: rgba(11, 11, 11, 0.774);
  color: white;
  font-weight: bold;
}
footer h1 {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 300;
}
footer li {
  padding: 5px;
}
footer li a {
  color: white;
}
footer i {
  padding-right: 15px;
}
footer .fa-handshake-angle {
  font-size: 11px;
}

#localization {
  text-align: center;
  background-color: rgba(3, 3, 3, 0.079);
  padding: 15px;
  font-weight: bold;
}
#localization i {
  padding-right: 30px;
}

/* ******************************SECTION1****************************** */
#presentation {
  text-align: center;
  background-color: rgb(250, 250, 250);
  padding: 10px;
  padding-bottom: 80px;
}
#presentation p {
  opacity: 0.6;
  padding-bottom: 30px;
}

/* ******************************SECTION2****************************** */
#operation h2 {
  margin: 50px 0 30px 30px;
}
#operation li {
  cursor: pointer;
  text-align: center;
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
  box-shadow: 0px 2px 8px rgb(211, 209, 209);
  padding: 20px;
  margin: 20px 20px 20px 0;
  font-weight: bold;
}
#operation li:hover {
  background-color: rgba(146, 86, 220, 0.168627451);
}
#operation li:hover i {
  color: #9356DC;
  opacity: 1;
}
#operation li p {
  float: left;
  margin-left: -35px;
  margin-top: -5px;
  padding: 5px 10px 5px 10px;
  background-color: #9356DC;
  color: white;
  font-weight: 100;
  border-radius: 50px 50px 50px 50px;
}
#operation li i {
  opacity: 0.5;
  float: left;
  margin-left: 40px;
}

/* ******************************SECTION3****************************** */
#resto_choise {
  padding-bottom: 40px;
  background-color: rgb(250, 250, 250);
  margin-top: 70px;
}
#resto_choise h2 {
  padding-top: 40px;
  margin-left: 30px;
}
#resto_choise h3 {
  padding-top: 10px;
  padding-bottom: 5px;
}
#resto_choise p {
  padding-bottom: 15px;
}
#resto_choise .fa-solid {
  color: rgba(255, 255, 255, 0);
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  opacity: 0;
  transition: 1s;
}
#resto_choise i {
  font-size: 25px;
  float: right;
  margin-top: -50px;
  margin-right: 30px;
}
#resto_choise i:hover {
  opacity: 1;
}
#resto_choise img {
  width: 100%;
  /*height: 20vh;*/
  height: 30vh;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
#resto_choise figure {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 2px 10px rgb(211, 209, 209);
  width: 90%;
  margin: 30px auto;
}
#resto_choise a {
  text-decoration: none;
  color: black;
}

/* ******************************Class_NEW****************************** */
.resto_card {
  position: relative;
}
.resto_card h3, .resto_card p {
  padding-left: 15px;
  margin: 0;
}

.new {
  font-weight: 600;
  background-color: #99E2D0;
  color: green;
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 5px;
  /*transform: translate(-50%, -50%);*/
}

/* **************************************************PAGES_RESTO************************************************** */
/* ******************************HEADER****************************** */
.header_restau img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.header_restau i {
  font-size: 20px;
  float: left;
  padding-top: 15px;
  margin-left: 15px;
}

/* ******************************MAIN****************************** */
main {
  position: relative;
  margin-top: -60px;
  background-color: rgb(253, 251, 251);
  border-radius: 40px 40px 0 0;
  padding-top: 30px;
  padding-bottom: 100px;
}
main h1 {
  padding-left: 20px;
}
main .solid__heart {
  color: rgba(255, 255, 255, 0);
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  opacity: 0;
  transition: 1s;
}
main .solid__heart, main .regular__heart {
  cursor: pointer;
  font-size: 25px;
  float: right;
  margin-top: -50px;
  margin-right: 30px;
}
main .solid__heart:hover, main .regular__heart:hover {
  opacity: 1;
}
main h3 {
  text-transform: uppercase;
  margin-left: 30px;
  font-weight: 100;
  opacity: 0.5;
  border-bottom: 4px solid #99E2D0;
  width: 50px;
  padding-bottom: 4px;
}
main article {
  cursor: pointer;
  opacity: 0;
  background-color: white;
  box-shadow: 3px 1px 3px 1px rgb(211, 209, 209);
  border-radius: 10px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  overflow: hidden;
}
main article:hover .price {
  margin-right: 10px;
  transition: 1s;
}
main article:hover i {
  transform: rotate(360deg);
  transition: transform 1s;
}
main article:hover > .test__progress {
  transform: scaleX(1);
  opacity: 1;
  margin-right: 0;
  transition: margin-right 1s;
}
main article .test__progress {
  width: 80px;
  border-radius: 0 10px 10px 0;
  background-color: #99E2D0;
  transform: scaleX(0);
  transition: transform 1s;
  text-align: center;
  opacity: 0;
  margin-right: -80px;
}
main article i {
  border-radius: 50%;
  background-color: white;
  color: #99E2D0;
  padding: 8px;
  font-size: 15px;
  margin-top: 20px;
  transform: rotate(-360deg);
  transition: transform 1s;
}
main article .price {
  font-weight: bold;
  margin: auto;
  margin-bottom: 10px;
  margin-right: 20px;
}
main article .ellipsis {
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;
}
main article .ellipsis h4 {
  padding-top: 15px;
  margin: 0 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
main article .ellipsis p {
  padding: 0 0 0 10px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* **************************************************ANIMATIONS************************************************** */
/*@mixin anim {
    animation: welcome 0.5s ease-in-out forwards;
    transition: transform ;
}*/
.first_starter, .first_main, .first_dessert {
  animation: welcome 0.5s ease-in-out forwards;
}

.second_starter, .second_main, .second_dessert {
  animation: welcome 0.5s ease-in-out forwards;
  animation-delay: 0.3s;
}

.third_starter, .third_main, .third_dessert {
  animation: welcome 0.5s ease-in-out forwards;
  animation-delay: 0.6s;
}

.fourth_starter {
  animation: welcome 0.5s ease-in-out forwards;
  animation-delay: 0.9s;
}

@-webkit-keyframes welcome {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style2.css.map */
