@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
/* ********** appears_anim ********** */
@-webkit-keyframes welcome {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* ********** loading_spinner ********** */
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes load {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
/* ************************************************** BUTTON ************************************************** */
.button {
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 0px 2px 7px 0px rgb(161, 155, 155);
}
.button:hover {
  opacity: 0.8;
  box-shadow: 0px 2px 8px 2px rgb(161, 155, 155);
}

.button_restau {
  text-align: center;
  margin-top: 60px;
}

.button_resto {
  padding: 15px 50px;
}

/* ************************************************** general_style ************************************************** */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  box-shadow: 0px 3px 3px 0px rgb(211, 209, 209);
  padding: 10px;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: "Shrikhand", cursif;
  font-weight: 100;
  margin: 0;
  margin-bottom: 4px;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  padding: 20px 0 20px 0;
  background-color: rgba(11, 11, 11, 0.774);
  color: white;
  font-weight: bold;
}
footer h1 {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 300;
}
footer li {
  padding: 5px;
}
footer li a {
  color: white;
}
footer i {
  padding-right: 15px;
}
footer .fa-handshake-angle {
  font-size: 11px;
}

/* ****************************** HEART ****************************** */
.solid__heart {
  color: rgba(255, 255, 255, 0);
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  opacity: 0;
  transition: 1s;
}

/* ****************************** heart_animation ****************************** */
.solid__heart, .regular__heart {
  cursor: pointer;
  font-size: 25px;
  float: right;
  margin-top: -50px;
  margin-right: 30px;
}
.solid__heart:hover, .regular__heart:hover {
  opacity: 1;
}

/* ************************************************** home_page ************************************************** */
#localization {
  text-align: center;
  background-color: rgba(3, 3, 3, 0.079);
  padding: 15px;
  font-weight: bold;
}
#localization i {
  padding-right: 30px;
}

/* ******************************SECTION1****************************** */
#presentation {
  text-align: center;
  background-color: rgb(250, 250, 250);
  padding: 10px;
  padding-bottom: 80px;
}
#presentation p {
  opacity: 0.6;
  padding-bottom: 30px;
}

/* ******************************SECTION2****************************** */
#operation h2 {
  margin: 50px 0 30px 30px;
}
#operation li {
  cursor: pointer;
  text-align: center;
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
  box-shadow: 0px 2px 8px rgb(211, 209, 209);
  padding: 20px;
  margin: 20px 20px 20px 0;
  font-weight: bold;
}
#operation li:hover {
  background-color: rgba(146, 86, 220, 0.168627451);
}
#operation li:hover i {
  color: #9356DC;
  opacity: 1;
}
#operation li p {
  float: left;
  margin-left: -35px;
  margin-top: -5px;
  padding: 5px 10px 5px 10px;
  background-color: #9356DC;
  color: white;
  font-weight: 100;
  border-radius: 50px 50px 50px 50px;
}
#operation li i {
  opacity: 0.5;
  float: left;
  margin-left: 40px;
}

/* ******************************SECTION3****************************** */
#resto_choise {
  padding-bottom: 40px;
  background-color: rgb(250, 250, 250);
  margin-top: 70px;
}
#resto_choise h2 {
  padding-top: 40px;
  margin-left: 30px;
}
#resto_choise h3 {
  padding-top: 10px;
  padding-bottom: 5px;
}
#resto_choise p {
  padding-bottom: 15px;
}
#resto_choise img {
  width: 100%;
  height: 30vh;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
#resto_choise figure {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 2px 10px rgb(211, 209, 209);
  width: 90%;
  margin: 30px auto;
}
#resto_choise a {
  text-decoration: none;
  color: black;
}

/* ******************************Class_NEW****************************** */
.resto_card {
  position: relative;
}
.resto_card h3, .resto_card p {
  padding-left: 15px;
  margin: 0;
}

.new {
  font-weight: 600;
  background-color: #99E2D0;
  color: green;
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 5px;
}

/* ************************************************** LOADING_SPINNER ************************************************** */
/* ************************************************** LOADING_SPINNER ************************************************** */
.loader {
  background: grey;
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  animation: load 0s 3s forwards;
  animation-fill-mode: forwards;
}
.loader .spinner {
  border: 10px solid;
  border-top-color: #9356DC;
  border-right-color: #FF79DA;
  border-left-color: #99E2D0;
  border-bottom-color: rgb(211, 209, 209);
  width: 50px;
  height: 50px;
  margin: auto;
  position: fixed;
  inset: 0;
  border-radius: 50%;
  animation: spin 1s infinite;
}

/* **************************************************PAGES_RESTO************************************************** */
/* ****************************** HEADER ****************************** */
.header_restau img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.header_restau i {
  font-size: 20px;
  float: left;
  padding-top: 15px;
  margin-left: 15px;
}

/* ****************************** MAIN ****************************** */
main {
  position: relative;
  margin-top: -60px;
  background-color: rgb(253, 251, 251);
  border-radius: 40px 40px 0 0;
  padding-top: 30px;
  padding-bottom: 100px;
  /* ****************************** appears_ANIM ****************************** */
}
main .appears_anim {
  animation: welcome 0.5s ease-in-out forwards;
}
main .appears_anim--1 {
  animation-delay: 0.3s;
}
main .appears_anim--2 {
  animation-delay: 0.6s;
}
main .appears_anim--3 {
  animation-delay: 0.9s;
}
main .appears_anim--4 {
  animation-delay: 1.2s;
}
main .appears_anim--5 {
  animation-delay: 1.5s;
}
main .appears_anim--6 {
  animation-delay: 1.8s;
}
main .appears_anim--7 {
  animation-delay: 2.1s;
}
main .appears_anim--8 {
  animation-delay: 2.4s;
}
main .appears_anim--9 {
  animation-delay: 2.7s;
}
main .appears_anim--s1 {
  animation-delay: 0.3s;
}
main .appears_anim--s2 {
  animation-delay: 0.6s;
}
main .appears_anim--s3 {
  animation-delay: 0.9s;
}
main .appears_anim--s4 {
  animation-delay: 1.2s;
}
main .appears_anim--s5 {
  animation-delay: 1.5s;
}
main .appears_anim--s6 {
  animation-delay: 1.8s;
}
main .appears_anim--s7 {
  animation-delay: 2.1s;
}
main .appears_anim--s8 {
  animation-delay: 2.4s;
}
main .appears_anim--s9 {
  animation-delay: 2.7s;
}
main .appears_anim--s10 {
  animation-delay: 3s;
}
main h1 {
  padding-left: 20px;
}
main h3 {
  text-transform: uppercase;
  margin-left: 30px;
  font-weight: 100;
  opacity: 0.5;
  border-bottom: 4px solid #99E2D0;
  width: 50px;
}

/* ****************************** article_ANIM ****************************** */
article {
  cursor: pointer;
  opacity: 0;
  background-color: white;
  box-shadow: 3px 1px 3px 1px rgb(211, 209, 209);
  border-radius: 10px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  overflow: hidden;
}
article:hover i {
  transform: rotate(360deg);
  transition: transform 1s;
}
article:hover > .validate_anim {
  margin-right: 0;
}
article .validate_anim {
  width: 80px;
  border-radius: 0 10px 10px 0;
  background-color: #99E2D0;
  text-align: center;
  margin-right: -80px;
  transition: all 1s;
}
article i {
  border-radius: 50%;
  background-color: white;
  color: #99E2D0;
  padding: 8px;
  font-size: 15px;
  margin: 20px;
  transform: rotate(-360deg);
  transition: transform 1s;
}
article .price {
  font-weight: bold;
  margin: auto;
  margin-bottom: 10px;
  margin-right: 20px;
}
article .ellipsis {
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;
}
article .ellipsis h4 {
  padding-top: 15px;
  margin: 0 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
article .ellipsis p {
  font-size: 14px;
  padding: 0 0 0 10px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ************************************************** RESPONSIVE ************************************************** */
/* ************************************************** RESPONSIVE ************************************************** */
@media screen and (min-width: 800px) {
  #queries_first-section {
    display: flex;
  }
  #operation {
    width: 50%;
  }
  #presentation {
    width: 50%;
    background-color: white;
    padding-top: 30px;
  }
  #presentation p {
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
  }
  #queries_second-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  #queries_second-section .resto {
    width: 40%;
  }
}
@media screen and (min-width: 800px) {
  .button_restau {
    margin-top: 100px;
  }
  .button_restau .button_resto {
    padding: 15px 100px;
  }
  .header_restau img {
    height: 400px;
  }
  footer {
    text-align: center;
  }
  footer ul {
    display: flex;
  }
  footer ul li {
    width: 50%;
    margin: 20px 0;
  }
}
@media (min-width: 800px) and (max-width: 1132px) {
  #queries_menus {
    display: flex;
    flex-wrap: wrap;
  }
  #queries_menus section {
    width: 50%;
    margin: auto;
    margin-top: 30px;
  }
  #queries_menus .desserts {
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
  .button_restau {
    margin-top: 100px;
  }
  .button_restau .button_resto {
    padding: 15px 100px;
  }
}
@media screen and (min-width: 1132px) {
  #queries_menus {
    display: flex;
    margin-top: 30px;
  }
  #queries_menus article {
    width: 90%;
    margin-bottom: 50px;
  }
  #queries_menus section {
    width: 33%;
  }
  .button_restau {
    margin-top: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
