@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import "./utils/variables";
@import "./components/buttons";
@import "./base/general_style";
@import "./pages/home";


/* **************************************************PAGES_RESTO************************************************** */





                        /* ****************************** HEADER ****************************** */

.header_restau
{
    img
    {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
    i
    {
        font-size: 20px;
        float: left;
        padding-top: 15px;
        margin-left: 15px;
    }
}


                        /* ****************************** MAIN ****************************** */


@-webkit-keyframes welcome
{
    from
    {
              transform: translateY(10px);
              opacity: 0;
    }
    to
    {
              transform: translateY(0);
              opacity: 1;
    }
}

@mixin anim
{
    animation: welcome 0.5s ease-in-out forwards;
}

main
{
    position: relative;
    margin-top: -60px;
    background-color: rgb(253, 251, 251);
    border-radius: 40px 40px 0 0;
    padding-top: 30px;
    padding-bottom: 100px;
/* ****************************** apparition_animation****************************** */
    & .appears_anim
    {
        @include anim;
        @for $i from 1 through 9
        {
            &--#{$i}
            {
                animation-delay: 0.3s * $i;
            }
        }
        @for $i from 1 through 10
        {
            &--s#{$i}
            {
                animation-delay: 0.3s * $i;
            }
        }
    }
    h1
    {
        padding-left: 20px;
    }
//     .solid__heart
//     {
//         color: rgba(255, 255, 255, 0);
//         background: linear-gradient($color-secondary,$color-primary);
//         -webkit-background-clip: text;
//         opacity: 0;
//         transition: 1s;
//     }
// /* ****************************** heart_animation ****************************** */
//     .solid__heart, .regular__heart
//     {
//         cursor: pointer;
//         font-size: 25px;
//         float: right;
//         margin-top: -50px;
//         margin-right: 30px;
//         &:hover
//         {
//             opacity: 1;
//         }
//     }
    h3
    {
        text-transform: uppercase;
        margin-left: 30px;
        font-weight: 100;
        opacity: 0.5;
        border-bottom: 4px solid $color-tertiary;
        width: 50px;
    }
}
                        /* ****************************** ARTICLE_animation****************************** */
article
{
    cursor: pointer;
    opacity: 0;
    background-color: white;
    box-shadow: 3px 1px 3px 1px $color-shadow;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    overflow: hidden;
    &:hover
    {
        i
        {
            transform: rotate(360deg);
            transition: transform 1s;       
        }
        & > .validate_anim
        {
            margin-right: 0;
        }
    }
    .validate_anim
    {
        width: 80px;
        border-radius: 0 10px 10px 0;
        background-color: $color-tertiary;
        text-align: center;
        margin-right: -80px;
        transition: all 1s;
    }
    i
    {
        border-radius: 50%;
        background-color: white;
        color: $color-tertiary;
        padding: 8px;
        font-size: 15px;
        margin: 20px;
        transform: rotate(-360deg);
        transition: transform 1s;        
    }
    .price
    {
        font-weight: bold;
        margin: auto;
        margin-bottom: 10px;
        margin-right: 20px;
                
    }
    .ellipsis
    {
        overflow: hidden;
        white-space: nowrap;
        margin-right: 10px;        
        h4
        {
            padding-top: 15px;
            margin: 0 0 0 10px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p
        {
            font-size: 14px;
            padding: 0 0 0 10px;
            margin-top: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }
}


/* **************************************************ANIMATIONS************************************************** */

// @mixin anim {
//     animation: welcome 0.5s ease-in-out forwards;
// }

// .first
// {
//     @include anim;
// }
// .second
// {
//     @include anim;
//     animation-delay: 0.3s;
// }
// .third
// {
//     @include anim;
//     animation-delay: 0.6s;
// }
// .fourth
// {
//     @include anim;
//     animation-delay: 0.9s;
// }


/* ************************************************** RESPONSIVE ************************************************** */
/* ************************************************** RESPONSIVE ************************************************** */


@media screen and (min-width: 800px)
{
    #queries_first-section
    {
        display: flex;
    }
    #operation
    {
        width: 50%;
    }
    #presentation
    {
        width: 50%;
        background-color: white;
        padding-top: 30px;
        p
        {
            margin-top: 50px;
            margin-bottom: 40px;
            margin-left: 50px;
            margin-right: 50px;
        }

    }
    #queries_second-section
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .resto
        {
            width: 40%;
        }

    }
}
@media screen and (min-width: 800px)
{
    .button_restau {
        margin-top: 100px;
        .button_resto {
            padding: 15px 100px;
        }
    }
    .header_restau {
        img {
            height: 400px;
        }
    }
    footer {
        text-align: center;
        ul {
            display: flex;
            li {
                width: 50%;
                margin: 20px 0;
            }
        }
    }
}
@media (min-width: 800px) and (max-width: 1132px)
{
    #queries_menus {
        display: flex;
        flex-wrap: wrap;
        section {
            width: 50%;
            margin: auto;
            margin-top: 30px;
        }
        .desserts {
            width: 80%;
            margin: auto;
            margin-top: 50px;
        }
    }
    .button_restau {
        margin-top: 100px;
        .button_resto {
            padding: 15px 100px;
        }
    }
}
@media screen and (min-width: 1132px)
{
    #queries_menus
    {
        display: flex;
        margin-top: 30px;
        article {
            width: 90%;
            margin-bottom: 50px;
        }
        section {
            width: 33%;
        }
    }
    .button_restau {
        margin-top: 60px;
    }
}