@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
body
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
ul
{
    list-style-type: none;
}
h1
{
    font-family: 'Shrikhand', cursif;
    font-weight: 100;
    margin: 0;
    margin-bottom: 4px;
}
a
{
    color: black;
}
.button
    {
        padding: 15px;
        border-radius: 30px;
        border: none;
        background: linear-gradient(#FF79DA,#9356DC);
        color: white;
        font-weight: bold;
        margin-bottom: 50px;
    }
.button_restau
{
    text-align: center;
    margin-top: 50px;
}
.button_resto
{
    width: 40%;
    font-size: 15px;
    font-weight: 500;
}
                        /* ******************************HEADER****************************** */


.title
{
    text-align: center;
    box-shadow: 0px 3px 3px 0px rgb(201, 199, 199);
    padding: 10px;
}
#localization
{
    text-align: center;
    background-color: rgba(3, 3, 3, 0.079);
    padding: 15px;
    font-weight: bold;
    i
    {
        padding-right: 30px;
    }
}
                        /* ******************************SECTION1****************************** */
#presentation
{
    text-align: center;
    background-color: rgba(16, 15, 15, 0.052);
    padding: 10px;
    p
    {
        opacity: 0.6;
        padding-bottom: 30px;
    }   
} 


                        /* ******************************SECTION2****************************** */


#operation
{
    h2
    {
        margin-left: 30px;
    }
    li
    {
        text-align: center;
        background-color: rgba(16, 15, 15, 0.052);
        border-radius: 20px;
        box-shadow:  0px 2px 8px rgb(211, 209, 209);
        padding: 20px;
        margin: 15px;
        font-weight: bold;
        &:hover
        {
            background-color: #9256dc2b;
            i
            {
                color: #9356DC;
                opacity: 1;
            }
        }
        p
        {
            float: left;
            margin-left: -35px;
            margin-top: -5px;
            padding: 5px 10px 5px 10px;
            background-color: #9356DC;
            color: white;
            font-weight: 100;
            border-radius: 50px 50px 50px 50px;
        }
        i
        {
            opacity: 0.5;
            float: left;
            margin-left: 40px;
        }
    }
}

/* ******************************SECTION3****************************** */


#resto_choise
{
    padding-bottom: 40px;
    background-color: rgba(16, 15, 15, 0.052);
    margin-top: 70px;
    h2
    {
    padding-top: 40px;
    margin-left: 30px;
    }
    h3
    {
    padding-top: 10px;
    padding-bottom: 5px;
    }
    p
    {
    padding-bottom: 15px;
    }
    .fa-solid
    {
    color: rgba(255, 255, 255, 0);
    }
    i
    {
    font-size: 25px;
    float: right;
    margin-top: -50px;
    margin-right: 30px;
        &:hover
        {
        color: #9356DC;
        }
    }
    img
    {
        width: 100%;
        /*height: 20vh;*/
        height: 30vh;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    figure
    {
        background-color: white;
        border-radius: 20px;
        box-shadow: 1px 2px 10px rgb(237, 237, 236);
        width: 90%;
        margin: 30px auto;
    }
    a
    {
        text-decoration: none;
        color: black;
    }
}

                        /* ******************************Class_NEW****************************** */
.resto_card 
{
    position: relative;
    h3, p
    {
        padding-left: 15px;
        margin: 0;
    }
}

.new
{
    font-weight: 600;
    background-color: #99E2D0;
    color: green;
    position: absolute;
    top: 10%;
    right: 10%;
    padding: 5px;
    /*transform: translate(-50%, -50%);*/
}
                        /* ******************************FOOTER****************************** */
footer
{
    padding: 20px 0 20px 0;
    background-color: rgba(11, 11, 11, 0.774);
    color: white;
    font-weight: bold;
    h1
    {
        margin-left: 40px;
        font-size: 20px;
        font-weight: 300;
    }
    li
    {
        padding: 5px;
    }
    i
    {
        padding-right: 15px;
    }
    .fa-handshake-angle
    {
        font-size: 11px;
    }
}

/* **************************************************LA_PALETTE_DU_GOUT************************************************** */

                        /* ******************************HEADER****************************** */

.header_restau
{
    img
    {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
    i
    {
        font-size: 20px;
        float: left;
        padding-top: 15px;
        margin-left: 15px;
    }
}
main
{
    position: relative;
    margin-top: -60px;
    background-color: rgb(253, 251, 251);
    border-radius: 40px 40px 0 0;
    padding-top: 30px;
    h1
    {
        padding-left: 20px;
    }
    .fa-solid
    {
        color: rgba(255, 255, 255, 0);
    }
    i
    {
        font-size: 25px;
        float: right;
        margin-top: -50px;
        margin-right: 30px;
        &:hover
        {
            color: #9356DC;
        }
    }
    h3
    {
        text-transform: uppercase;
        margin-left: 30px;
        font-weight: 100;
        opacity: 0.5;
        border-bottom: 3.5px solid #42d99f;
        width: 50px;
        padding-bottom: 4px;
    }
    article
    {
        background-color: white;
        box-shadow: 3px 1px 3px 1px rgba(201, 199, 199, 0.464);
        border-radius: 10px;
        width: 90%;
        margin: auto;
        h4
        {
            padding-top: 10px;
            margin: 0 0 0 10px;
        }
        p
        {
            padding: 0 0 10px 10px;
            margin-top: 5px;
        }
        .price
        {
            float: right;
            margin-top: -45px;
            margin-right: 20px;
            font-weight: bold;
        }

    }
}