#fontionnement li:hover
{
    background-color: #9256dc2b;
    i
    {
        color: #9356DC;
        opacity: 1;
    }
}
#choix_resto
{
    background-color: rgba(16, 15, 15, 0.052);
    margin-top: 70px;
    h2
    {
    padding-top: 40px;
    margin-left: 30px;
    }
    h3
    {
    padding-top: 10px;
    padding-bottom: 5px;
    }
    p
    {
    padding-bottom: 15px;
    }
    .fa-solid
    {
    color: rgba(255, 255, 255, 0);
    }
    i
    {
    font-size: 25px;
    float: right;
    margin-top: -50px;
    margin-right: 30px;
        &:hover
        {
        color: #9356DC;
        }
    }
}