
/* ************************************************** home_page ************************************************** */

#localization
{
    text-align: center;
    background-color: rgba(3, 3, 3, 0.079);
    padding: 15px;
    font-weight: bold;
    i
    {
        padding-right: 30px;
    }
}
                        /* ******************************SECTION1****************************** */
#presentation
{
    text-align: center;
    background-color: $background-grey;
    padding: 10px;
    padding-bottom: 80px;
    p
    {
        opacity: 0.6;
        padding-bottom: 30px;
    }   
} 


                        /* ******************************SECTION2****************************** */


#operation
{
    h2
    {
        margin: 50px 0 30px 30px;
    }
    li
    {
        cursor: pointer;
        text-align: center;
        background-color: $background-grey;
        border-radius: 20px;
        box-shadow:  0px 2px 8px $color-shadow;
        padding: 20px;
        margin: 20px 20px 20px 0;
        font-weight: bold;
        &:hover
        {
            background-color: #9256dc2b;
            i
            {
                color: $color-primary;
                opacity: 1;
            }
        }
        p
        {
            float: left;
            margin-left: -35px;
            margin-top: -5px;
            padding: 5px 10px 5px 10px;
            background-color: $color-primary;
            color: white;
            font-weight: 100;
            border-radius: 50px 50px 50px 50px;
        }
        i
        {
            opacity: 0.5;
            float: left;
            margin-left: 40px;
        }
    }
}


                        /* ******************************SECTION3****************************** */


#resto_choise
{
    padding-bottom: 40px;
    background-color: $background-grey;
    margin-top: 70px;
    h2
    {
    padding-top: 40px;
    margin-left: 30px;
    }
    h3
    {
    padding-top: 10px;
    padding-bottom: 5px;
    }
    p
    {
    padding-bottom: 15px;
    }
    img
    {
        width: 100%;
        height: 30vh;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    figure
    {
        background-color: white;
        border-radius: 20px;
        box-shadow: 1px 2px 10px $color-shadow;
        width: 90%;
        margin: 30px auto;
    }
    a
    {
        text-decoration: none;
        color: black;
    }
}

                        /* ******************************Class_NEW****************************** */
.resto_card 
{
    position: relative;
    h3, p
    {
        padding-left: 15px;
        margin: 0;
    }
}

.new
{
    font-weight: 600;
    background-color: $color-tertiary;
    color: green;
    position: absolute;
    top: 10%;
    right: 10%;
    padding: 5px;
}

/* ************************************************** LOADING_SPINNER ************************************************** */
/* ************************************************** LOADING_SPINNER ************************************************** */


.loader {
    background: grey;
    position: fixed;
    inset: 0;
    z-index: 1;
    opacity: 0.8;
    animation: load 0s 3s forwards;
    animation-fill-mode: forwards;
    .spinner {
        border: 10px solid;
        border-top-color: $color-primary;
        border-right-color: $color-secondary;
        border-left-color: $color-tertiary;
        border-bottom-color: $color-shadow;
        width: 50px;
        height: 50px;
        margin: auto;
        position: fixed;
        inset: 0;
        border-radius: 50%;
        animation: spin 1s infinite;
    }
}

